%section
  %aside.left
    %section.controls
      %a.control.prev{ :href => "/control/prev", :ref => "previous", :title => "Let's go back a track - it's a ripper" }
        %img{ :src => "/images/prev.png" }
      %a.control.play{ :href => "/control/play", :ref => "play", :title => "Start the music biatch" }
        %img{ :src => "/images/play.png" }
      %a.control.pause{ :href => "/control/pause", :ref => "stop", :title => "Shut the f*** up!" }
        %img{ :src => "/images/pause.png" }
      %a.control.next{ :href => "/control/next", :ref => "next", :title => "This track is shit, let's move on" }
        %img{ :src => "/images/next.png" }
    #slider

  %article
    .info
      %img#art.art
      %p#current
      %p#song
      .score
    %footer
      %p#nominator
      %p.voting
        - if logged_in?
          %a.up{ :href => "/vote/up", :title => "I like that shit! Play it now..." }
            %img{ :src => "/images/plus.png" }
          %a.down{ :href => "/vote/down", :title => "Uuuhhhh, don't know about this one - let's get some beer first." }
            %img{ :src => "/images/minus.png" }
      %p#time

  %aside.right
    - if logged_in?
      %p
        You are
        = current_user.real_name
        = "|"
        %a{ :href => "/sign-in" } Not You?
      %p
        Nominations:
        %span.value= current_user.nominations.count
      %p
        Nom. played:
        %span.value= current_user.played_nominations.count
      %p
        +1 / -1 / force:
        %span.value
          = (current_user.votes.count - current_user.nominations.count)
          = "/"
          = current_user.negative_votes.count
          = "/"
          = current_user.down_votes.count
