.album_list.list
  %p
    %b Albums available in the Library
  %form{ :action => "search", :method => :post }
    %input{ :type => "text", :name => "q", :value => params[:q] }
    %input{ :type => "submit", :value => "Search" }
    
  %ul
    - @list.each_with_index do |album, i|
      %li{ :class => (i % 2 == 0 ? "even" : "odd") }
        .left
          %span.artist= album.artist
          %span -
          %span.name= album.name
        .right
          %a{ :href => "/add/#{album.id}" }
            %img.add{ :src => "/images/add.png", :title => "Add Album to Upcoming Albums" }
        .clear
  
.album_list.upcoming
  %p
    %b Upcoming Albums
  #top
    - unless @next.empty?
      %u Next:
      %i= @next.first.name
      = "(#{@next.first.artist})"
  
  %ul#upcoming
    - @next.each_with_index do |album, i|
      %li{ :class => (i % 2 == 0 ? "even" : "odd") }
        %span{ :title => "Rating: #{album.rating}", :class => "rating #{album.rating > 0 ? "positive" : (album.rating < 0 ? "negative" : "")}" }
          = album.rating
        .left
          %span.artist= album.artist
          %span -
          %span.name= album.name
        .right
          - if album.can_be_voted_for_by?(request.ip)
            %a.up{ :href => "up/#{album.id}" }
              %img{ :src => "/images/plus.png", :title => "Vote this Album up" }
            %a.down{ :href => "down/#{album.id}" }
              %img{ :src => "/images/minus.png", :title => "Vote this Album down" }
        .clear