.current
  Currently Playing:
  %b#current_song= @song

.controls
  %a{ :href => "control/previous" } Previous
  %a{ :href => "control/next" } Next

.selection
  .all.album_list
    %p
      %b Available Albums
    %ul#available_albums
      - @list.each_with_index do |album, i|
        %li{ :class => "album #{i % 2 == 0 ? "even" : "odd"}"}
          %span.name= album.name
          %a.add{ :href => "/add/#{album.id}" } Add
  
  .selected.album_list
    %p
      %b Next Albums
    %ul#next_albums
      - @next.each_with_index do |album, i|
        %li{ :class => "album #{i % 2 == 0 ? "even" : "odd"}"}
          %span.votes= album.votes
          %span.name= album.name
          - if album.can_be_voted_for_by?(request.ip)
            %a.up{ :href => "up/#{album.id}" } Up
            %a.down{ :href => "down/#{album.id}" } Down