.album_list
  %p
    %b Albums available in the Library
  %form{ :action => "search", :method => :post }
    %input{ :type => "text", :name => "q", :value => params[:q] }
    %input{ :type => "submit", :value => "Search" }
    
  %ul
    - @list.each_with_index do |album, i|
      %li{ :class => (i % 2 == 0 ? "even" : "odd") }
        .left
          %span.artist= album.artist
          %span -
          %span.name= album.name
        %a{ :href => "/add/#{album.id}" }
          %img.add{ :src => "/images/add.png", :title => "Add Album to Upcoming Albums" }
        .clear
  
.album_list
  %p
    %b Upcoming Albums
  .placeholder
  
  %ul
    - @next.each_with_index do |album, i|
      %li{ :class => (i % 2 == 0 ? "even" : "odd") }
        %span.votes= album.rating
        %span.artist= album.artist
        %span -
        %span.name= album.name
        - if album.can_be_voted_for_by?(request.ip)
          %a.up{ :href => "up/#{album.id}" } +1
          %a.down{ :href => "down/#{album.id}" } -1