- @nominations.each_with_index do |nomination, i|
  - is_owner = nomination.owned_by?(request.ip)
  %li{ :class => "album loaded #{i % 2 == 0 ? "even" : "odd"} #{is_owner ? "deleteable" : ""}", :ref => nomination.id }
    .left
      %span{ :class => "score #{score_class(nomination.score)}", :title => "Score: #{nomination.score}" }= nomination.score
      %a.toggle_songs{ :href => "#" }
      %span.artist= "#{is_owner ? "* " : ""}#{nomination.artist}"
      %span -
      %span.name= nomination.name
    .right
      - if nomination.can_be_voted_for_by?(request.ip)
        %a.up{ :href => "#", :ref => nomination.id }
          %img{ :src => "/images/plus.png", :title => "Vote this Album up" }
        %a.down{ :href => "#", :ref => nomination.id }
          %img{ :src => "/images/minus.png", :title => "Vote this Album down" }
    %div{ :class => "songs clear" }
      = haml :songs, :layout => false, :locals => { :songs => nomination.songs }
    .clear